<h1>Submit Entry</h1>


  <form>
    <div class="form-group">

      <input type="text" placeholder="University" class="form-control" id="university" [(ngModel)]="universityName" required name="universityName">
      <input type="text" placeholder="Faculty" class="form-control" id="faculty"  [(ngModel)]="facultyName" required name="facultyName">
      <input type="text" placeholder="Branch" class="form-control" id="branch" [(ngModel)]="branchName" required name="branchName">
      <input type="text" placeholder="Subject" class="form-control" id="subject" [(ngModel)]="subjectName" required name="subjectName">


    <form>
      <select [(ngModel)]="categories" name="cat" id="cat">
        <option *ngFor="let cat of categories" [value]="cat">
          {{cat}}
        </option>
      </select>
    </form>
    </div>

    <div>
    <input type="text" placeholder="Title" class="form-control" id="title" [(ngModel)]="titleName" required name="titleName">
    <!--<input type="text" placeholder="Description" class="form-control" id="description" required [(ngModel)]="descriptionName" name="descriptionName">-->
      <!--<textarea placeholder="Description" class="form-control" id="description" required [(ngModel)]="descriptionName" name="descriptionName"></textarea>-->

    <textarea class="form-control" id="description" name="descriptionName" placeholder="Description" required [(ngModel)]="descriptionName"></textarea>
    </div>
  <!--<form action="index.php" method="post" enctype="multipart/form-data">-->

    <!--<input type="file" name="file" multiple="multiple"/>-->

    <!--<input type="submit" value="SUBMIT">-->

    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
      Select file to upload:
      <input type="file" name="avatar" id="fileToUpload" formControlName="file1" (change)="fileEvent($event)">
      <input type="submit" value="SUBMIT" name="submit">
    </form>



  </form>

