<h1>Submit Entry</h1>


  <form>
    <div class="form-group">
      <form>
        <select [(ngModel)]="subjectName" name="sub" id="subject">
          <option *ngFor="let sub of subjectList" [ngValue]="sub.name">
            {{sub.name}}
          </option>
        </select>
      </form>

      <form>
        <select [(ngModel)]="selectedCat" name="cat" id="cat">
          <option *ngFor="let cat of categories" [value]="cat">
            {{cat}}
          </option>
        </select>
      </form>
    </div>

    <div>
    <input type="text" placeholder="Title" class="form-control" id="title" [(ngModel)]="titleName" required name="titleName">

    <textarea class="form-control" id="description" name="descriptionName" placeholder="Description" required [(ngModel)]="descriptionName"></textarea>
    </div>
  <!--<form action="index.php" method="post" enctype="multipart/form-data">-->

    <!--<input type="file" name="file" multiple="multiple"/>-->

    <!--<input type="submit" value="SUBMIT">-->

    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
      Select file to upload:
      <input type="file" name="avatar" id="fileToUpload" formControlName="file1" (change)="fileEvent($event)">


      <input type="submit" value="SUBMIT" name="submit">
    </form>



  </form>

