<div class="col-sm-12 float-left">

<div>
  <div >
  <div class="card-body">
    <div class="col-sm-9 float-left">
      <form class="container">
        <div class="cntr">
          <label for="rdo-1" class="btn-radio">
            <input type="radio" value="notes" [(ngModel)]="btn_notes" (ngModelChange)="showTable('t01')" id="rdo-1" name="radio-grp">
            <svg width="20px" height="20px" viewBox="0 0 20 20">
              <circle cx="10" cy="10" r="9"></circle>
              <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
              <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
            </svg>
            <span>Notes</span>
          </label>
          <label for="rdo-2" class="btn-radio">
            <input type="radio" value="seminars" [(ngModel)]="btn_seminars" (ngModelChange)="showTable('t011')" id="rdo-2" name="radio-grp">
            <svg width="20px" height="20px" viewBox="0 0 20 20">
              <circle cx="10" cy="10" r="9"></circle>
              <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
              <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
            </svg>
            <span>Seminar</span>
          </label>
          <label for="rdo-3" class="btn-radio">
            <input type="radio" type="radio" name="type" value="labs" [(ngModel)]="btn_labs" (ngModelChange)="showTable('t012')" id="rdo-3" name="radio-grp">
            <svg width="20px" height="20px" viewBox="0 0 20 20">
              <circle cx="10" cy="10" r="9"></circle>
              <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
              <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
            </svg>
            <span>Labs</span>
          </label>
          <label for="rdo-4" class="btn-radio">
            <input type="radio" value="exams" [(ngModel)]="btn_exams" (ngModelChange)="showTable('t013')" id="rdo-4" name="radio-grp">
            <svg width="20px" height="20px" viewBox="0 0 20 20">
              <circle cx="10" cy="10" r="9"></circle>
              <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
              <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
            </svg>
            <span>Exams</span>
          </label>
          <label for="rdo-5" class="btn-radio">
            <input type="radio" value="users" [(ngModel)]="btn_users" (ngModelChange)="showTable('t02')" id="rdo-5" name="radio-grp">
            <svg width="20px" height="20px" viewBox="0 0 20 20">
              <circle cx="10" cy="10" r="9"></circle>
              <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
              <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
            </svg>
            <span>Users</span>
          </label>
          <label for="rdo-6" class="btn-radio">
            <input type="radio" value="subjects" [(ngModel)]="btn_subjects" (ngModelChange)="showTable('t03')" id="rdo-6" name="radio-grp">
            <svg width="20px" height="20px" viewBox="0 0 20 20">
              <circle cx="10" cy="10" r="9"></circle>
              <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
              <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
            </svg>
            <span>Subjects</span>
          </label>
        </div>
        <br>
        <br>
      </form>
      <input type="text" placeholder="Search.." [(ngModel)]="listFilter"/>
    </div>
    <div class="row">
      <div class="col-md-2">

      </div>
      <br>
      <br>
    </div>
    <div class="col-sm-9 float-left">
    <div *ngIf="shownTable === 't01'">
      <table id="t01"  *ngIf="btn_notes && filteredArticles && filteredArticles.length">
        <thead>
        <tr>
          <th>Note</th>
          <th>Author</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let article of filteredArticles">
          <td align="center"><a (click) = articleClick(article)>{{ article.title}}</a></td>
          <td align="center">{{ article.user.name }}</td>
          <td align="center">{{ article.date | date: "yyyy.MM.dd" }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive" *ngIf="shownTable === 't011'">
      <table id="t011" class="table" *ngIf="btn_seminars && filteredArticles && filteredArticles.length">
        <thead>
        <tr>
          <th>Seminar</th>
          <th>Author</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let article of filteredArticles">
          <td><a (click) = articleClick(article)>{{ article.title }}</a></td>
          <td>{{ article.user.name }}</td>
          <td>{{ article.date | date: "yyyy.MM.dd" }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive" *ngIf="shownTable === 't012'">
      <table id="t012" class="table" *ngIf="btn_labs && filteredArticles && filteredArticles.length">
        <thead>
        <tr>
          <th>Lab</th>
          <th>Author</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let article of filteredArticles">
          <td><a (click) = articleClick(article)>{{ article.title }}</a></td>
          <td>{{ article.user.name }}</td>
          <td>{{ article.date | date: "yyyy.MM.dd" }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive" *ngIf="shownTable === 't013'">
      <table id="t013" class="table" *ngIf="btn_exams && filteredArticles && filteredArticles.length">
        <thead>
        <tr>
          <th>Exam</th>
          <th>Author</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let article of filteredArticles">
          <td><a (click) = articleClick(article)>{{ article.title }}</a></td>
          <td>{{ article.user.name }}</td>
          <td>{{ article.date | date: "yyyy.MM.dd" }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive" *ngIf="shownTable === 't02'">
      <table id="t02" class="table" *ngIf="btn_users && filteredUsers && filteredUsers.length">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Univesity</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td>{{user.id}}</td>
          <td><a (click) = userClick(user)>{{user.name}}</a></td>
          <td>{{user.university.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive" *ngIf="shownTable === 't03'">
      <table id="t03" class="table" *ngIf="btn_subjects && filteredSubjects && filteredSubjects.length">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let subject of filteredSubjects">
          <td>{{ subject.id }}</td>
          <td>{{ subject.name }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
  </div>
</div>
