<h1>Add new University or add a new Faculty to an existent University</h1>

<div>
  {{universities.length}}
  <ul>
    <li *ngFor="let university of universities">
      {{university.name}} {{university.id}}
    </li>
  </ul>
</div>

<div>
  <label>University Name:
  </label>
  <input [(ngModel)]="this.currentUniversityName" placeholder="university name">
  <button (click)="addUniversity()">Add Faculties</button>
  <div *ngIf="existsUniversity(currentUniversityName); else unexistentUnivesrity;">
    <p>University already exists</p>
  </div>
  <ng-template #unexistentUnivesrity>
    <p>University does not exist yet</p>
    <button (click)="createNewUniversity()">Create New University</button>
  </ng-template>
</div>
