/*
.selected {
  background-color: #CFD8EC !important;
  color: white;
}

h2{
  font-family: "Roboto-Regular";
  font-weight: bold;
  color: #1C735E;

}
.requests {
  margin: 0 0 2em 0em;
  list-style-type: none;
  padding: 0;
  width: 60em;
}
.requests li {
  cursor: pointer;
  position: relative;
  left: 0;

  margin: .5em;
  padding: 1.0em 2em;
  height: 70px;
  border-radius: 0.317rem;
  font-family: "Roboto-Regular";
  font-size: large;
  font-weight: bold;
  border: 3px solid transparent  ;
}
.requests li:hover {
  color: #607D8D;
  background-color: #DDD;
  left: 0em;
}
/*button {*/
  /*background-color: #1e1;*/
  /*border: ridge;*/
  /*padding: 10px 20px;*/
  /*border-radius: 4px;*/
  /*cursor: pointer;*/
  /*cursor: hand;*/
  /*font-family: Arial;*/
/*}*/
button:hover {
  background-color: #eee;
}

button.accept {
  font-family: "Roboto-Regular";
  position: absolute;
  left: 750px;
  top: 10px;
  color: #1C735E;  ;
  background-color: transparent;
  border: 3px solid grey  ;
  font-weight: bold;
  border-radius: 0.317rem;
}
button.deny {
  font-family: "Roboto-Regular";
  position: absolute;
  left: 850px;
  top: 10px;
  color: #a94442;
  border: 3px solid grey  ;
  background-color: transparent;
  font-weight: bold;
  border-radius: 0.317rem;
}
.login_info {
  position: absolute;
}
