<h2>Requests</h2>
<div *ngIf = "userInfoService.moderator === userInfoService.getUsertype(); else nonModeratorBlock;">
  <ul class="requests">
    <li *ngFor="let request of requests" [class.selected]="request === selectedRequest" (click)="onSelect(request)">
      <div>

        <div style="float: left; text-align: center"> {{request.documentName}}, author: {{request.authorName}}</div>
        <div><button class="accept" title="accept request" (click)="accept(request)">Accept</button></div>
        <div> <button class="deny" title="delete request" (click)="deny(request)">Deny</button></div>
      </div>

    </li>
  </ul>
</div>
<ng-template #nonModeratorBlock>You must be logged in as a Moderator to see this page</ng-template>
<app-request-detail [request]="selectedRequest"></app-request-detail>
