<div class = "card">
  <div align = "center" class = card-body>
    <h1>{{subscribed <= 0 ? 'You are not subscribed to anybody' : 'Here are some news for you:'}}</h1>
    <div class='table-responsive'>
      <table class='table'
             *ngIf="articleList && articleList.length">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
          </tr>
        </thead>

        <tbody>
        <tr *ngFor='let article of articleList'>

          <td>  <a (click) = articleClick(article) >{{article.title}} </a> </td>
          <td> <a routerLink="/profile" routerLinkActive="active"> {{article.user.username}} </a> </td>
          <td>{{ article.date.toLocaleString() }}</td>

        </tr>
        </tbody>
      </table>


  </div>
    <router-outlet></router-outlet>
</div>
</div>
