<div class = "card">
  <div align = "right" class = card-header>
    Welcome, {{user}}!
  </div>
  <div align = "center" class = card-body>
    <form action="url" >
      <input type="submit" value="SEARCH" />
    </form>
    <h1>{{subscribed <= 0 ? 'You are not subscribed to anybody' : 'Here are some news for you:'}}</h1>
    <div class='table-responsive'>
      <table class='table'
             *ngIf="articles && articles.length">
        <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Date</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor='let article of articles'>

          <td> <a href={{article.articleLink}}}>{{article.title}}</a> </td>
          <td> <a href={{article.profileLink}}}>{{article.author}}</a> </td>
          <td>{{ article.date }}</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
