<!-- home, my page, submit,  -->

<div >
  <div style = "display:inline-block;vertical-align: top">
    <a routerLink="/home" routerLinkActive="active">
      <button class = "menubutton">Home</button>
    </a>
    <br>
    <button class = "menubutton">My profile</button>
    <br>
    <button class = "menubutton">Submit materials</button>
    <br>
    <a routerLink="/search" routerLinkActive="active">
      <button class = "menubutton">Search</button>
    </a>
    <br>
    <a routerLink="/requests" routerLinkActive="active">
      <button class = "menubutton">Requests</button>
    </a>
  </div>
  <div style = "display:inline-block;vertical-align: top">
    <router-outlet></router-outlet>
  </div>

</div>
