<!-- home, my page, submit,  -->

<div style="text-align:center">
  <h1>studypedia</h1>

</div>

<div style="display: flex" >
  <div style="flex-grow: 0">
    <a routerLink="home" routerLinkActive="active">
      <button class = "menubutton">Home</button>
    </a>
    <br>
      <a routerLink="profilepage" routerLinkActive="active" style = "display: flex">
        <button class = "menubutton">My profile</button>
      </a>
    <br>
    <button class = "menubutton">Submit materials</button>
    <br>
    <a routerLink="search" routerLinkActive="active">
      <button class = "menubutton">Search</button>
    </a>
    <br>
    <a routerLink="requests" routerLinkActive="active">
      <button class = "menubutton">Requests</button>
    </a>
  </div>
  <div style = "flex-grow : 1; vertical-align: top;">
    <router-outlet></router-outlet>
  </div>
</div>
