
<body>
<div style="text-align:center">
  <h1>{{ title }} </h1>

</div>

<div class = "row" style = "horiz-align: center">
  <div class = "leftcolumn">
    <app-mainmenu></app-mainmenu>
  </div>

  <!--<div> Insert new components end allign them to left <<-- </div>-->
  <div class = "leftcolumn2">
    <app-profiledetail></app-profiledetail>
  </div>

  <div class = "rightcolumn">
    <app-deadline></app-deadline>

  </div>

</div>

<!--<div style = "float:right">-->
<!--<app-deadline></app-deadline>-->
<!--</div>-->

<!--<div style = "float:left;">-->
<!--<app-mainmenu></app-mainmenu>-->
<!--</div>-->

<!--<div style="float:left ">-->
<!--&lt;!&ndash;app-profiledetail></app-profiledetail&ndash;&gt;-->
<!--</div>-->




<!--<h1>{{title}}</h1>-->
<!--&lt;!&ndash;<app-requests></app-requests>&ndash;&gt;-->
<!--<app-add-university></app-add-university>-->
<!--<pm-articles></pm-articles>-->
<!--<app-newsfeed></app-newsfeed>-->

<!--<pm-articles></pm-articles>-->
<!--<app-profiledetail></app-profiledetail>-->

</body>
