body {

}
h1 {
  background-color: #f8f8fa;
  text-align: center;
  color: #58668b   ;
  font-weight: 700;
  margin: 0 auto;

  margin-bottom: 30px;

  font-family: "HP Simplified Light";
  font-size: x-large;

  margin: 25px;

  padding: 25px;
  border-radius: 50px / 15px;
}

input.mystyle {
  color: rosybrown ;
  font-family: Corbel;
  font-size: x-large;
}

.center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Clear floats after the columns */
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
