<!--&lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;-->
<!--<body>-->
<!--<div style="text-align:center">-->
  <!--<h1>{{ title }} </h1>-->
<!--
<body>

<div style="text-align:center">
  <h1>{{ title }} </h1>

<!--</div>-->


<!--<div style = "float:right">-->

  <!--<app-deadline></app-deadline>-->
<!--<div style = "float:right">-->

<!--</div>-->
  <!--<app-deadline></app-deadline>-->


<!--<div style = "float:left;">-->
  <!--<app-mainmenu></app-mainmenu>-->
<!--</div>-->
<!--</div>-->

<!--<div style = "float:left">-->
  <!--<app-profiledetail></app-profiledetail>-->
<!--</div>-->

<!--</body>-->

<app-newsfeed></app-newsfeed><!--<div style="float:left ">-->
  <app-profiledetail></app-profiledetail>
<!--</div>
-->

<h1>{{title}}</h1>
<!--<app-requests></app-requests>-->
<app-add-university></app-add-university>
