<body>
  <div>
    <h1> {{ name }} - {{university}}</h1>

  <div>
    <h2>{{ contributionHeader }}</h2>
    <table class='table'
           *ngIf="articleList && articleList.length">
      <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor='let article of articleList'>

        <td> <a routerLink="/article" routerLinkActive="active"> {{article.title}} </a> </td>

        <td>{{ article.date.toLocaleString() }}</td>

      </tr>
      </tbody>
    </table>
  </div>
  </div>


</body>
