<!--style="overflow-y: scroll; height: 800px; "-->
<div style="flex-grow: 1; display: flex; flex-direction: column">


  <div>
    <h1> {{ name }} - {{university}}</h1>

  </div>

  <div style="flex-grow: 1">
    <h2>{{ contributionHeader }}</h2>
    <div >
    <table *ngIf="articleList && articleList.length">
      <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor='let article of articleList'>

        <td style="font-family: Roboto-Regular; text-align: left">  <a (click) = articleClick(article) style="font-family: Roboto-Regular" >{{article.title}} </a> </td>

        <td>{{ article.date  | date: 'yyyy/MM/dd' }}</td>

      </tr>
      </tbody>
    </table>
    </div>

  </div>
</div>
