<body>
  <div layout="row" layout-align="center center"  style="height: 100vh">
    <h1>{{ pageTitle}}</h1>
    <h2> {{ name }} - {{university}}</h2>

  <div>
    <h2>{{ contributionHeader }}</h2>
    <table class='table'
           *ngIf="articleList && articleList.length">
      <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor='let article of articleList'>

        <td> <a routerLink="/article" routerLinkActive="active"> {{article.title}} </a> </td>

        <td>{{ article.releaseDate.toLocaleString() }}</td>

      </tr>
      </tbody>
    </table>
  </div>
</body>
