
<!--<div style = "display: flex; flex-grow: 1" >-->
  <!--<div style = " flex-grow: 1" >-->
    <!--<app-profiledetail></app-profiledetail>-->
  <!--</div>-->

  <!--<div style = "flex-grow: 0">-->
    <!--<app-deadline></app-deadline>-->

  <!--</div>-->
<!--</div>-->


<div class="col-sm-12 float-left" >
  <div class="col-sm-8 float-left" style="text-align: center" >
    <app-profiledetail></app-profiledetail>
  </div>

  <div class="col-sm-4 float-left">
    <app-deadline></app-deadline>

  </div>
</div>

