
<div style="flex-grow: 1; display: flex; flex-direction: column">


  <div>
    <h1> {{ name }} - {{university}}</h1>

  </div>

  <div style="flex-grow: 1">
    <h2 style="font-family: Roboto-Regular">{{ contributionHeader }}</h2>
    <div style="overflow-y: scroll; height: 800px; ">
      <table *ngIf="articleList && articleList.length">
        <thead>
        <tr>
          <th style="font-family: Roboto-Regular">Title</th>
          <th style="font-family: Roboto-Regular">Date</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor='let article of articleList'>

          <td>  <a (click) = articleClick(article) style="font-family: Roboto-Regular">{{article.title}} </a> </td>

          <td style="font-family: Roboto-Regular"> {{ article.date | date: 'yyyy.MM.dd' }}</td>

        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
