<div>
  <h4>University Search</h4>
  <input #searchBox (keyup)="search(searchBox.value)"/>
  <ul>
    <li *ngFor="let university of universities$ | async " (click)="onSelect(university);">
        {{university.name}} {{university.id}}
    </li>
  </ul>
</div>

<div *ngIf="this.currentUniversity">
  <div>
    <!--<button (click)="updateUniversity()">Update University</button>-->
  </div>
  <div>University name: {{currentUniversity.name}}</div>
  <div>University id: {{currentUniversity.id}}</div>
  <div>
    <div>
	<li *ngFor="let element of faculties">
    <div>
	 Faculty: 
	 <input #facultyName placeholder="faculty"/>
     <button (click)="addFaculty(facultyName.value, element)">Add Faculty</button>
	</div>
	</li>
	<div><button (click)="incrementFaculties()">+</button></div>
  </div>
  </div>
  <p>Faculties:</p>
  <div>
    <ul>
      <li *ngFor="let faculty of this.currentUniversity.faculties">
        {{faculty.name}} {{faculty.id}}
      </li>
    </ul>
  </div>
</div>
