

<div [hidden]="submitted">
  <h4>
    <button type="button"
            (click) = 'toggleRegister()'>
      {{ registerButton ? 'Nevermind' : 'Register'}}
    </button><!--
      <div *ngIf = 'registerButton'>
        <app-register></app-register>
      </div>-->
  </h4>
</div>


<div [hidden]="submitted" *ngIf = 'registerButton'>

<form (ngSubmit)="onSubmit()" #registerForm="ngForm" method = "post">
<div class="container">
    <div class="form-group">

      <!--<label for="name">Your name</label>-->
      <input placeholder="name" type="text" class="form-control" id="name" required [(ngModel)]="newUser.name" name="name"  #name="ngModel" autocomplete="off">
      <div [hidden]="name.valid || name.untouched"
           class="alert alert-danger">
        Name can't be empty
      </div>
<div>
      <!--<label for="username">Username &nbsp;&nbsp;</label>-->
      <input  placeholder="username" type="text" class="form-control" id="username" required [(ngModel)]="newUser.username" name="username"  #username="ngModel" autocomplete="off">
      <div [hidden]="username.valid || username.untouched"
           class="alert alert-danger">
        Username can't be empty
      </div>
</div>
    </div>

    <div class="form-group">
      <!--<label for="password">Password &nbsp;&nbsp;&nbsp;</label>-->
      <input  placeholder="password" type="password" class="form-control" id="password" required [(ngModel)]="newUser.password" name="password" #password="ngModel">
      <div [hidden]="password.valid || password.untouched"
           class="alert alert-danger">
        Password can't be empty
      </div>
    </div>

    <br/>

    <div class="form-group">
      <!--<label for="university">University &nbsp;&nbsp;</label>-->
      <select  class="form-control" id="university" required [(ngModel)]="newUser.university" name="university" (change)="firstDropDownChanged($event.target.value)">
        <!--<option>Select</option>-->
        <option value = "choose here" selected ="selected">choose here</option>
        <option *ngFor="let university of universityList" [ngValue]="university">{{university.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <!--<label for="faculty">faculty</label>-->
      <select class = 'form-control' id="faculty" required  [(ngModel)]="newUser.faculty" name="faculty"(change)="secondDropDownChanged($event.target.value)">
        <!--<option>Select</option>-->
        <option disabled value = "choose here" selected ="selected">choose here</option>
      <option *ngFor='let faculty of facultyList' [ngValue] = faculty>{{ faculty.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <!--<label for="branch">branch</label>-->
      <select class = 'form-control' id="branch" required [(ngModel)]="newUser.branch" name="branch">
       <!-- <option>Select</option>-->
        <option *ngFor='let branch of branchList' [ngValue] = branch>{{ branch.name }}</option>

      </select>
    </div>
</div>
  <!--<h4>-->
    <!--<button type="button"-->
            <!--(click) = 'toggleMod()'>-->
      <!--{{ modButton ? 'I lied' : "Click here if you're a moderator"}}-->
    <!--</button>-->
  <!--</h4>-->
  <!--<div *ngIf = 'modButton'>-->
    <!--<div class = "input">-->
      <!--<label> Prove it &nbsp; </label>-->
      <!--<input type = 'password' id="moderatorPass"  [(ngModel)]="moderatorPass">-->
    <!--</div>-->
  <!--</div>-->
  <div>
    <input type = "password" placeholder="* for moderators" #moderatorPassword />
  </div>
  <div>

  </div>
   <div>
     <button type="submit" class="btn btn-success"  [disabled]="!registerForm.form.valid" (click)="validateModerator(moderatorPassword.value);">Register</button>
   </div>



  </form>
</div>


<div [hidden]="!submitted">

  <div *ngIf="validUsername===false">
    <h2>Not successful registration!</h2>
  </div>
  <div *ngIf="validUsername===true">
    <h2>Successful registration!</h2>
  </div>

</div>
